/* line 1, static/styles/index.scss */
body {
  background-color: pink; }

/* line 5, static/styles/index.scss */
h1 {
  color: red; }

/* line 9, static/styles/index.scss */
.post-image {
  border: 11px solid lime !important;
  width: 100%; }
