{% extends "index.html" %}
{% block content %}
    <form class="card p-2"
          method="POST"
          action=""
          enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                {% if field.label|slice:'-4:' == "text" %}
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label|slice:':-5' }}</label>
                    <textarea class="form-control"
                              id="{{ field.id_for_label }}"
                              name="{{ field.name }}"></textarea>
                {% elif field.label|slice:'-4:' == "char" %}
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label|slice:':-5' }}</label>
                    <input type="text"
                           class="form-control"
                           id="{{ field.id_for_label }}"
                           name="{{ field.name }}"/>
                {% endif %}
            </div>
            <br/>
        {% endfor %}
        {% if formImages %}
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Dodaj zdjęcie</label>
                <input class="form-control"
                       type="file"
                       name="image"
                       id="formFileMultiple"
                       multiple/>
            </div>
        {% endif %}
        <div class="d-grid gap-2 d-md-block ms-auto">
            <a href="{% url 'home' %}" type="button" class="btn btn-danger">Wróć</a>
            <button type="submit" class="btn btn-primary">Dodaj</button>
        </div>
    </form>
{% endblock %}
