{% extends "index.html" %}
{% load static %}

{% block content %}
    <div class="card">
        {% include "components/chatNavComponent.html" %}
        <div class="bg-light" id="chat">
            <div class="messages p-1">
                {% for message in chat_messages %}
                    {% if message.owner == request.user %}
                        <div class="card w-75 ms-auto mb-3 me-2">
                            <span class="border-bottom p-1">@{{ message.owner }}, {{ message.sent|timesince }}</span>
                            <span class="p-2">{{ message.message }}</span>
                        </div>
                    {% else %}
                        <div class="card w-75 mb-3 ms-2">
                            <span class="border-bottom p-1">@{{ message.owner }}, {{ message.sent|timesince }}</span>
                            <span class="p-2">{{ message.message }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="card">
            <form method="POST"
{#                  action="{% url 'send_message' request.user.id second_user_id %}"#}
                  class="form-group d-flex w-100 justify-content-between">
                {% csrf_token %}
                <textarea name="message"
                    id="id_message"
                    class="chat-textarea border-0 w-100"
                    placeholder="twoja wiadomość..."></textarea>
                <button class="btn btn-light" id="js-chat-textarea-button" type="submit">
                    <img src="{% static "icons/send.svg" %}" alt="Wyślij">
                </button>
            </form>
        </div>

    </div>

{% endblock %}