{% extends "index.html" %}

{% block content %}
    <h1>ok</h1>
    {% for message in headers %}
        <a href="{% url "send_message" request.user.id request.user.id %}" class="card" style="width: 18rem;">
            <div class="d.flex">
                {% if message.first_owner_id != request.user.id %}
                    <span>@{{ message.first_owner }},</span>
                {% else %}
                    <span>@{{ message.second_owner }},</span>
                {% endif %}

                {% include 'components/messageSentTimeComponent.html' %}
            </div>
            <span>{{ message.last_message }}</span>
        </a>
    {% endfor %}
{% endblock %}