{% extends "index.html" %}
{% load humanize %}

{% block content %}
    <div class="card post-image my-2">
        <div class="card-body row">
            <a class="link-dark link-underline link-underline-opacity-0 col-sm">
                <h1>@{{ user.username }},</h1>
            </a>
            <div class="col-sm">
                <span>Z nami od: {{ user.account_created|date:"m.d.Y" }}</span>
                </br>
                <span>Dodał: {{ user.post_count }} postów</span>  
            </div>
        </div>
    </div>
    
    {% for post in posts %}
        <a href="{% url 'post_page' post.id %}">

            <div class="card post-image my-2">
                {% if post.image_first %}
                <img
                    src="{{ MEDIA_URL }}/media/{{post.image_first}}"
                    id="local-image"
                    class="fit-image"
                    alt="@{{post.username}}{{post.added}}"
                />
                <div class="card-body">
                {% endif %}
                    <a 
                    href="{% url "user" post.owner_id %}" 
                    class="link-dark link-underline link-underline-opacity-0">
                    @{{ post.username }},
                    </a>
                    <a 
                    href="{% url 'post_page' post.id %}" 
                    class="link-dark link-underline link-underline-opacity-0">
                        <span>
                        {{ post.added|naturaltime }}:{{ post.description|truncatechars:50 }}
                        </span>
                        <p class="card-text border-top border-dark">
                        {{ post.content|truncatechars:100 }}
                        </p>
                    </a>
                </div>
            </div>

        </a>
    {% endfor %}
{% endblock %}