{% if messages %} {% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <span>{{message}}</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<ul class="messages">
  {% endfor %}
</ul>
{% endif %} {% comment %} {% if form.errors %}
<div class="alert alert-danger">
  {% for error in form.errors.items %} {{ error }} {% endfor %}
</div>
{% endif %} {% endcomment %} {% comment %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <span>błędy</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endcomment %} 
{% if form.errors %}
{% for field in form %}
  {% if field.errors %}
    {{ field.label }}:
    {% for error in field.errors %}
      {{ error }}
    {% endfor %}
  {% endif %}
{% endfor %}

{% for error in form.non_field_errors %}
        <strong>{{ error|escape }}</strong>
{% endfor %}
{% endif %}
