{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if form.errors %}
    <div class="alert alert-danger">
        {% for error in form.errors.items %}
            {{ error }}
        {% endfor %}
    </div>
{% endif %}
{% comment %} <!-- form errors -->
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
                <strong>{{ error|escape }}</strong>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
            <strong>{{ error|escape }}</strong>
    {% endfor %}
{% endif %}
<!-- form errors --> {% endcomment %}