/* global */
.popUps {
    position: fixed;
    top: 60px;
    right: 10px;
}

.messages-page-card {
    text-decoration: none;
    color: rgb(33, 37, 41);
}
/* end global */

/* posts, home */
.fit-image {
    object-fit: cover;
    width: 100%;
    max-height: 300px;
}

.font-size-lg {
    font-size: 24px !important;
    padding: 0 !important;
}

/* end posts, home */

/* chat page */
.chat-nav {
    position: sticky;
    top: 64px;
    overflow: hidden;
    z-index: 10;
}

#chat {
    position: relative;
    height: calc(100vh - 200px);
    overflow: auto;

}

.messages {
    margin-bottom: 10px;
}

.chat-form {
    position: fixed;
    border: 0;
}

.chat-textarea {
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    box-shadow: none;
}

.delete-chat-button {
    position: absolute;
    right: 3px;
    top: 1px;
    /*padding: 0 !important;*/
    /*margin: 0 !important;*/
    width: fit-content;
}

.delete-chat-icon {
    stroke: #ffffff; /* Background color against your svg */
      stroke-width: 20px;
}
/* end chat page */

/* scrolbar */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    margin: 3px 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 4px;
}

/* end scrolbar */