.fit-image {
    object-fit: cover;
    width: 100%;
    max-height: 300px;
}

.font-size-lg {
    font-size: 24px !important;
    padding: 0 !important;
}

/* chat page */
.chat-nav {
    position: sticky;
    top: 64px;
    overflow: hidden;
    z-index: 10;
}

.chat {
    position: relative;
    height: calc(100vh - 200px);
    overflow: auto;

}

.messages {
    margin-bottom: 10px;
}

.chat-form {
    position: fixed;
    bottom: 30px;

}