{% load static %}
<div class="btn-group" role="group" aria-label="Basic outlined example">
{{reaction_status}}
	<form 
		method="POST" 
		class="btn btn-outline-secondary"
		action="{% url 'interaction' pk=post.id action='1' %}"

	>
		{% if reaction_status == 0 %}
			<img src="{% static "icons/like.svg" %}">
		{% elif reaction_status == 1 %}
			<img src="{% static "icons/unlike.svg" %}">
		{% endif %}
	</form>

	<span class="btn btn-outline-secondary">28</span>

	<form method="POST" class="btn btn-outline-secondary">
		{% if reaction_status == 0 %}
			<img src="{% static "icons/dislike.svg" %}">
		{% elif reaction_status == -1 %}
			<img src="{% static "icons/undislike.svg" %}">
		{% endif %}
	</form>
</div>
