{% load static %}
<form method="POST" action="{% url 'interaction' post.id %}" class="btn-group mx-auto mb-2">
    <button type="submit" name="reaction" class="btn btn-outline-secondary" value="1">
        {% if reaction_status == 0 or reaction_status == -1 %}
            <img src="{% static "icons/like.svg" %}" alt="like">
        {% elif reaction_status == 1 %}
            <img src="{% static "icons/unlike.svg" %}" alt="unlike">
        {% endif %}
    </button>

    {# token needs to be here, otherwise bootstrap styling does not work properly #}
    {% csrf_token %}

    <span class="btn btn-outline-secondary">{{ post.reactions }}</span>
    <button type="submit" name="reaction" class="btn btn-outline-secondary" value="-1">
        {% if reaction_status == 0 or reaction_status == 1 %}
            <img src="{% static "icons/dislike.svg" %}" alt="dislike">
        {% elif reaction_status == -1 %}
            <img src="{% static "icons/undislike.svg" %}" alt="undislike">
        {% endif %}
    </button>
</form>

