{% load humanize %}
<div class="card post-image my-2">
    {% include "components/postImageShow.html" %}
    <div class="card-body">
        <a
            href="{% url 'user' post.owner_id %}"
            class="link-dark link-underline link-underline-opacity-0"
            alt="{{ post.owner_username }}"
        >
            @{{ post.username }},
        </a>
        <a href="{% url 'post_page' post.id %}"
           class="link-dark link-underline link-underline-opacity-0">
        <span>
            {{ post.added|naturaltime }}:{{ post.description|truncatechars:50 }}
        </span>
            <p class="card-text border-top border-dark">
                {{ post.content|truncatechars:100 }}
            </p>
        </a>
    </div>
    {% if "/post/" in request.path %}
        {% include "components/interaction.html" %}
    {% endif %}
</div>
